<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.CommentDao">


    <select id="getCommentListByPage" resultType="Comment">
        SELECT
        (id,text,create_time,user_id,Course_id)
        FROM comment
        WHERE
        course_id = #{courseId}
    </select>

    <insert id="addComment">
        INSERT INTO comment
        (text,create_time,user_id,course_id)
        VALUES
        (#{text},#{createTime},#{userId},#{courseId})
    </insert>

    <delete id="delComment" parameterType="Long">
        DELETE FROM comment
        WHERE
        id = #{id}
    </delete>




</mapper>