<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.CourseDao">

    <select id="getCourseById" parameterType="Long" resultType="List">
       SELECT
       (id,name,type,introduce,url,totalTime)
       FROM course
       WHERE
       id = #{id}
    </select>

    <select id="getCourseListByPage" resultType="List">
        SELECT
        (id,name,type,introduce,url,totalTime)
        FROM course
    </select>


</mapper>