<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserDao">

    <select id="emailExist" parameterType="String" resultType="int">
        SELECT count(id)
        FROM user
        WHERE
        email = #{email}
        limit 1
    </select>

    <select id="usernameExist" parameterType="String" resultType="int">
        SELECT count(id)
        FROM user
        WHERE
        username = #{username}
        limit 1
    </select>

    <select id="checkLogin" resultType="int">
        SELECT count(id)
        FROM user
        WHERE
        password = #{password}
        <if test="phone != null">
            AND phone = #{phone}
        </if>
        <if test="email != null">
            AND email = #{email}
        </if>
        limit 1
    </select>

    <insert id="addUser">
        INSERT ignore INTO user
        (email,username,password,create_time)
        VALUES
        (#{email},#{username},#{password},#{createTime})
    </insert>

    <select id="getUserById" parameterType="Long">
        SELECT
        (id,email,username,password,create_time)
        FROM user
        WHERE
        id = #{id}
    </select>

    <select id="phoneExits" parameterType="String">
        SELECT count(id)
        FROM user
        where
        phone = #{phone}
        limit 1
    </select>


</mapper>