<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.VideoDao">

    <select id="getVideoListByCourseId" resultType="Video">
        SELECT
        (id,name,video_id,video_url,course_id,introduce,time)
        FROM video
        WHERE
        course_id = #{courseId}
    </select>

</mapper>